body {
  margin:0;
  background-color:#DB9A22; 
}

.topnav {
  overflow: hidden;
  background-color: #DB9A22;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.main {
  margin-top: 60px; /* Add a top margin to avoid content overlay */
}

.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: transparent;
  color: #FFFFFF;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}


